<?xml version="1.0"?>
<robot name="hb_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find zain_pkg)/urdf/hb_robot_macro.xacro"/>
    <xacro:arg name="ur_type" default="ur10e"/>        
    <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
    <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
    <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
    <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
    <link name="world"/>
    <xacro:hb_robot
        parent="world"
        ur_type="$(arg ur_type)"
        joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
        kinematics_parameters_file="$(arg kinematics_parameters_file)"
        physical_parameters_file="$(arg physical_parameters_file)"
        visual_parameters_file="$(arg visual_parameters_file)"
        >
      <origin xyz="0 0 0" rpy="0 0 0" />

    </xacro:hb_robot>
    
</robot>